# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other unnecessary stuff:
*.suo
*.db
*.log
*.tlog
*.pdb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.sarif
*.xml
*.idb
*.dat
*.cfg
*.db
*.ipch
*.tlog
*.log
MercuryAtlas/MercuryAtlas/Debug/MercuryAtlas.tlog/unsuccessfulbuild
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
*.db
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
*.db
MercuryAtlas/.vs/MercuryAtlas/v16/ipch/AutoPCH/1755673056783448/MERCURYATLAS.ipch
*.ipch
*.tlog
Release/ProjectM.D424D181.tlog/link.delete.1.tlog
Release/ProjectM.D424D181.tlog/ProjectMercuryRedstone.write.1u.tlog
Release/ShuttlePBforReal.log
*.pdb
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
*.db
*.ipch
*.log
*.tlog
*.pdb
Release/vc142.pdb
Release/ShuttlePBforReal.log
Release/ProjectM.D424D181.tlog/ProjectMercuryRedstone.write.1u.tlog
Release/ProjectM.D424D181.tlog/link.read.1.tlog
Release/ProjectM.D424D181.tlog/link.delete.1.tlog
MercuryAtlas/MercuryAtlas/Release/vc142.pdb
MercuryAtlas/MercuryAtlas/Release/MercuryAtlas.tlog/MercuryAtlas.write.1u.tlog
MercuryAtlas/MercuryAtlas/Release/MercuryAtlas.tlog/link.read.1.tlog
MercuryAtlas/MercuryAtlas/Release/MercuryAtlas.tlog/link.delete.1.tlog
MercuryAtlas/MercuryAtlas/Release/MercuryAtlas.log
MercuryAtlas/.vs/MercuryAtlas/v16/ipch/AutoPCH/1755673056783448/MERCURYATLAS.ipch
MercuryAtlas/.vs/MercuryAtlas/v16/Browse.VC.db
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
MercuryAtlas/.vs/MercuryAtlas/v16/Browse.VC.opendb
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
MercuryAtlas/.vs/MercuryAtlas/v16/Browse.VC.db
*.ipch
*.log
*.tlog
*.tlog
*.pdb
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
*.db
*.ipch
*.filters
*.log
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.pdb
