# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other unnecessary stuff:
*.suo
*.db
*.log
*.tlog
*.pdb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.sarif
*.xml
*.idb
*.dat
*.cfg
*.db
*.ipch
*.tlog
*.log
MercuryAtlas/MercuryAtlas/Debug/MercuryAtlas.tlog/unsuccessfulbuild
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
*.db
MercuryAtlas/.vs/MercuryAtlas/v16/.suo
*.db
MercuryAtlas/.vs/MercuryAtlas/v16/ipch/AutoPCH/1755673056783448/MERCURYATLAS.ipch
*.ipch
*.tlog
Release/ProjectM.D424D181.tlog/link.delete.1.tlog
Release/ProjectM.D424D181.tlog/ProjectMercuryRedstone.write.1u.tlog
Release/ShuttlePBforReal.log
*.pdb
